<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.16.0" targetFramework="net46" requireReinstallation="true" />
  <package id="Microsoft.Web.WebView2" version="1.0.2957.106" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="NMeCab" version="0.06.4" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net46" requireReinstallation="true" />
</packages>